body {
    text-align: center;
    font-family: Sans-serif;
    margin: 0;
    background-color: #FFF;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.graph-data {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

.toggle-data-btn {
    cursor: pointer;
    opacity: 0.85;
}

.toggle-data-btn:hover {
    opacity: 1;
}

#graph-data-description {
    font-size: 12px;
    color: slategrey;
}

.svg-wrap {
    background-color: red;
    height: 0;
    padding-top: 63.63%;
    /* 350px/550px */
    position: relative;
}

svg {
    background-color: cyan;
    height: 100%;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}